<div mat-dialog-title>
    <div class="modal-header">
        <div class="modal-header__icon">
            <mat-icon class="icon {{data.iconClass}}" aria-hidden="false" aria-label="Example home icon" fontIcon="{{data.icon}}"></mat-icon>
        </div>
        <div class="modal-header__title">
            <p class="title">
                {{data.title}}
            </p>
        </div>
    </div>
</div>
<mat-dialog-content>
    <p class="text">{{data.text}}</p>
</mat-dialog-content>
  